.tagtitle {
  display: inline;
}

.taghead {
  float: left;
  border: 1px solid gray;
  padding: 0 10px 0;
  height: 100%;
}

.notactive {
  background: brown;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#tabs {
  height: 60px;
  border: 1px solid gray;
}

#content {
  border: 2px solid black;
}