<h1>Main Menu</h1>

<h3>What would you like to do?</h3>

<a href="/list">List all products</a>
<a href="/add">Add a product</a>
<a href="/change">Change a product</a>
<a href="/delete">Delete a product</a>
