<h1>Product List</h1>

<div id='product_name'>
  <h2 class='name'><%= "#{@product_to_view.name}" %></p>
</div>

<div id='tabs'>
  <div id='general_info'>
    <h3 class='tagtitle'>General Info</h3>
  </div>

  <div id='technical_specs'>
    <h3 class='tagtitle'>Technical Specs</h3>    
  </div>
  
  <div id='wheretobuy'>
    <h3 class='tagtitle'>Where to Buy</h3>
  </div>
</div>

<div id='content'>
  <p class='show'><%= "#{@product_to_view.general_info}" %></p>
  <p class='hide'><%= "#{@product_to_view.technical_specs}" %></p>
  <p class='hide'><%= "#{@product_to_view.where_to_buy}" %></p>
</div>

<p><a href="/home">Go to home page</a></p>